html {
    background: #3C8941;
    font: 14px 'Arial', sans-serif;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    color: #333;
}

html.wf-opensans-n7-loading #title,
html.wf-opensans-n7-loading #menu,
html.wf-loading .page,
html.wf-opensans-i4-loading #copyright {
    visibility: hidden;
}

html.wf-active {
    font-family: 'Open Sans';
}

p {
    text-align: justify;
}

sup {
    font-size: 80%;
}

h2 {
    font-size: 110%;
}

h1 {
    font-size: 130%;
}

a:hover,
a:link,
a:visited {
    color: blue;
    text-decoration: none;
}

#container {
    background-color: white;
    padding: 0;
    width: 940px;
    margin: 0 auto;
}

#header {
    height: 200px;
    background: white url(img/header.png) repeat 0 0;
}

#logo {
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

#title {
    width: 15em;
    text-align: center;
    margin-left: 0;
    padding: 45px 0 0 2em;
    font-size: 3em;
    color: #89C574;
    line-height: 1.2em;
}

#menu {
    border-bottom: solid 2px #CAD0DB;
    margin: 0 0 20px 0;
    padding: .5em 0 0;
    text-align: center;
    position: relative;
}

#menu a {
    display: inline-block;
    margin: 0 0 0 .5em;
    padding: 5px 1.3em;
    color: #333;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
}

#menu a.current {
    border-bottom: solid 4px #CAD0DB;
}

#menu a:hover {
}

#main {
    background: white;
    padding: 0 20px 20px;
}

.page {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.page > :first-child {
    margin-top: 0;
}

.page > :last-child {
    margin-bottom: 0;
}

#photo {
    float: left;
    margin: 0 1em 0 0;
    width: 480px;
    height: 600px;
    border: 2px solid #CAD0DB;
    background: #F7F7F7;
    padding: 2px;
}

#home h1 {
    margin-top: 0;
    text-align: left;
}

#home ul {
    padding: 0;
}

#home ul > li {
    line-height: 1.5em;
    list-style-position: inside;
    overflow: hidden;
    padding-left: 1.3em;
}

#social {
    margin-top: 1.5em;
    text-align: right;
}

#social > div {
    display: block;
}

#office > h1 {
    text-align: center;
}

#preview {
    margin: 1em 0;
    text-align: center;
}

#preview > img {
    border: 2px solid #CAD0DB;
    padding: 2px;
    height: 500px;
    background: #F7F7F7;
}

#thumbnails {
    margin-top: 1em;
    text-align: center;
}

#thumbnails > img {
    height: 80px;
    border: 2px solid #CAD0DB;
    padding: 2px;
    background: #F7F7F7;
}

#thumbnails > img:hover {
    border: 2px solid gray;
    background: #E9ECF0;
    cursor: pointer;
}

.info {
    float: left;
    margin-right: 2em;
}

.info td {
    vertical-align: top;
    padding: 0;
}

.info td:nth-child(odd) {
    padding-right: .5em;
}

.info td:nth-child(2n+3) {
    padding-left: 1em;
}

.google {
    margin: 1em 0;
    text-align: center;
}

.google > div {
    display: inline-block;
    text-align: left;
}

.google iframe {
    width: 900px;
    height: 400px;
    border: 0;
    overflow: hidden;
}

#copyright {
    background-color: #a7b7ff;
    font-size: 80%;
    text-align: right;
    padding: 0 .5em;
}
